<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSWorkspace</key>
      <dict>

        <key>NSWorkspaceDidLaunchApplicationNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceDidLaunchApplicationNotification'</string>
        </dict>

        <key>NSWorkspaceDidMountNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceDidMountNotification'</string>
        </dict>

        <key>NSWorkspaceDidPerformFileOperationNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceDidPerformFileOperationNotification'</string>
        </dict>

        <key>NSWorkspaceDidTerminateApplicationNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceDidTerminateApplicationNotification'</string>
        </dict>

        <key>NSWorkspaceDidUnmountNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceDidUnmountNotification'</string>
        </dict>

        <key>NSWorkspaceDidWakeNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceDidWakeNotification'</string>
        </dict>

        <key>NSWorkspaceSessionDidBecomeActiveNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceSessionDidBecomeActiveNotification'</string>
        </dict>

        <key>NSWorkspaceSessionDidResignActiveNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceSessionDidResignActiveNotification'</string>
        </dict>

        <key>NSWorkspaceWillLaunchApplicationNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceWillLaunchApplicationNotification'</string>
        </dict>

        <key>NSWorkspaceWillPowerOffNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceWillPowerOffNotification'</string>
        </dict>

        <key>NSWorkspaceWillSleepNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceWillSleepNotification'</string>
        </dict>

        <key>NSWorkspaceWillUnmountNotification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'NSWorkspace' 'NSWorkspaceWillUnmountNotification'</string>
        </dict>
  </dict>
  <key>SystemConfiguration</key>
      <dict>

        <key>Plugin:IPConfiguration</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Plugin:IPConfiguration'</string>
        </dict>

        <key>Plugin:InterfaceNamer</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Plugin:InterfaceNamer'</string>
        </dict>

        <key>Setup:</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:'</string>
        </dict>

        <key>Setup:/</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/'</string>
        </dict>

        <key>Setup:/Network/Global/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/Global/IPv4'</string>
        </dict>

        <key>Setup:/Network/HostNames</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/HostNames'</string>
        </dict>

        <key>Setup:/Network/Interface/en1/AirPort</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/Interface/en1/AirPort'</string>
        </dict>

        <key>Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87'</string>
        </dict>

        <key>Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/IPv4'</string>
        </dict>

        <key>Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/IPv6</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/IPv6'</string>
        </dict>

        <key>Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/Interface</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/Interface'</string>
        </dict>

        <key>Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/Proxies</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/Proxies'</string>
        </dict>

        <key>Setup:/System</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'Setup:/System'</string>
        </dict>

        <key>State:/IOKit/Power/CPUPower</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/IOKit/Power/CPUPower'</string>
        </dict>

        <key>State:/IOKit/PowerManagement/Assertions</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/IOKit/PowerManagement/Assertions'</string>
        </dict>

        <key>State:/IOKit/PowerManagement/CurrentSettings</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/IOKit/PowerManagement/CurrentSettings'</string>
        </dict>

        <key>State:/IOKit/PowerSources/InternalBattery-0</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/IOKit/PowerSources/InternalBattery-0'</string>
        </dict>

        <key>State:/Network/Global/DNS</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Global/DNS'</string>
        </dict>

        <key>State:/Network/Global/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Global/IPv4'</string>
        </dict>

        <key>State:/Network/Global/Proxies</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Global/Proxies'</string>
        </dict>

        <key>State:/Network/Interface</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface'</string>
        </dict>

        <key>State:/Network/Interface/en0/Link</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/en0/Link'</string>
        </dict>

        <key>State:/Network/Interface/en1/AirPort</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/en1/AirPort'</string>
        </dict>

        <key>State:/Network/Interface/en1/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/en1/IPv4'</string>
        </dict>

        <key>State:/Network/Interface/en1/IPv6</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/en1/IPv6'</string>
        </dict>

        <key>State:/Network/Interface/en1/Link</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/en1/Link'</string>
        </dict>

        <key>State:/Network/Interface/fw0/Link</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/fw0/Link'</string>
        </dict>

        <key>State:/Network/Interface/lo0/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/lo0/IPv4'</string>
        </dict>

        <key>State:/Network/Interface/lo0/IPv6</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/lo0/IPv6'</string>
        </dict>

        <key>State:/Network/Interface/vmnet1/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/vmnet1/IPv4'</string>
        </dict>

        <key>State:/Network/Interface/vmnet8/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Interface/vmnet8/IPv4'</string>
        </dict>

        <key>State:/Network/MulticastDNS</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/MulticastDNS'</string>
        </dict>

        <key>State:/Network/PrivateDNS</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/PrivateDNS'</string>
        </dict>

        <key>State:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/DHCP</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/DHCP'</string>
        </dict>

        <key>State:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/DNS</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/DNS'</string>
        </dict>

        <key>State:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/IPv4</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Network/Service/4486FA84-8018-437C-9BEF-250518D09D87/IPv4'</string>
        </dict>

        <key>State:/Users/ConsoleUser</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'State:/Users/ConsoleUser'</string>
        </dict>

        <key>com.apple.DirectoryService.NotifyTypeStandard:DirectoryNodeAdded</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'com.apple.DirectoryService.NotifyTypeStandard:DirectoryNodeAdded'</string>
        </dict>

        <key>com.apple.network.identification</key>
        <dict>
          <key>command</key>
          <string>tunnel.sh 'SystemConfiguration' 'com.apple.network.identification'</string>
        </dict>
  </dict>
</dict>
</plist>
