<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>SystemConfiguration</key>
        <dict>
            <key>State:/Network/Global/IPv4</key>
            <dict>
                <key>method</key>
                <array>
                    <string>ProxyManager</string>
                    <string>update_proxy_settings</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>
